<%- include('partials/header'); -%>



<header>
  <div class="background">
  <div class="smoothie ">
    <img src="/image/bg.jfif" class="home_img" alt="">
  </div>
  
</div>
</header>



<%- include('partials/footer'); -%>